/*Department styles*/
.top_spacer {
    margin-top: 10px;
}

.top_region {
    position: relative;
    height: auto;
    background: #34495e;
}

.top_region .left_side {
    float: left;
    width: 29%;
    min-width: 300px;
    padding: 30px 15px 20px 25px;
    height: auto;
    background: transparent;
    color: #f1f1f1;
    font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.top_region .left_side p {
    font: 'RobotoRegular', Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.top_region .left_side h2 {
    color: #ffd34e;
}

.top_region .right_side {
    float: right;
    width: auto;
    height: auto;
    background: #E0DDE8;
}

.bottom_region {
    background: #34495e;
    color: #F1F1F1;
}

.bottom_region .left_side_two {
    padding: 20px 15px 20px 15px;
    color: #f1f1f1;
    text-align: center;
}

.bottom_region .right_side_two {
    padding: 20px 20px 20px 0px;
    color: #f1f1f1;
}

.bottom_region .right_side_two h4 {
    color: #ffd34e;
}

.bottom_region .right_side_two h5 {
    font: 'RobotoBold', Arial, Helvetica, sans-serif;
    font-size: 12pt;
    display: inline;
    color: #f1f1f1;
}

.bottom_region .right_side_two p {
    font: 'RobotoRegular', Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.middle_region {
    margin-bottom: 15px;
}

.middle_region .left_side_three {
    text-align: center;
    padding: 0;
}

.dept_news_button {
    text-align: center;
    color: #5F5F67;
    background: #ffd34e;
    border-radius: 3px;
    width: inherit;
    padding: 5px 0 0 0;
    height: 26px;
}

.button_shadow {
    -moz-box-shadow: 0px 2px 0px 0px #E9B61C;
    -webkit-box-shadow: 0px 2px 0px 0px #5F5F67;
    box-shadow: 0px 2px 0px 0px #E9B61C;
}

.right_side_three a {
    text-decoration: none;
    color: #444444;
}

.didyouknow_title {
    padding: 10px;
    background: #F1F1F1;
    border-top: 8px solid #ffd34e;
    margin-top: 50px;
}

p.didyouknow {
    font-family: 'RobotoRegularItalic', Arial, Helvetica, sans-serif;
    font-size: 11pt;
    font-style: italic;
}

.section_box {
    background: #CFCFD1;
}

.section_box h5 {
    font: 'RobotoBold', Arial, Helvetica, sans-serif;
    font-size: 102pt;
}

.depts_blue_box {
    padding: 10px;
    background: #34495e;
    margin-top: 10px;
}

.depts_blue_box select {
    margin-top: 5px;
}

.depts_blue_box h4 {
    color: #f1f1f1;
    font: 'RobotoCondensed', Arial, Helvitical, sans-serif;
    font-size: 12pt;
}

.depts_blue_box p {
    color: #f1f1f1;
}

.depts_grey_box {
    padding: 10px;
    background: #E5E5E7;
    margin-top: 10px;
}

.styled-select {
    width: 240px;
    height: 34px;
    overflow: hidden;
    background: url(/_resources/ou/images/arrow_down.png) no-repeat right center #f1f1f1;
    border: 0!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding: 0 10px 0 10px;
    border-radius: 0;
}

select::-ms-expand {
    display: none;
}

select.styled-select {
    border: 0px;
    outline: 0px;
}

@media screen and (min-width:767px) {
    .top_region .right_side {
        margin-left: -15px;
    }
}