*{ margin: 0px; padding: 0px 0px 0px 0px; }
* a,a:hover { text-decoration:none; }
div[class^="ui-accordion-content"] { display:block!important; }
div[class^="ui-accordion-content"] > table{ display:table!important; }


/*Remove Element*/

#header_bar_backdrop, #main_nav_bar, #sticker, #footer_content_container, #footer_copyright_container, .top1, .side_box, .section_nav_wrapper,
.gold_button, #selu_banner_carousel, .square_box, .subnav_container, #logo, #header-navbar, #chat_popup, #email_popup_box, .jumbotron, .breadcrumbs {display:none;}

body { margin: 40px; }

